<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="MnrTextTraceListener"
            type="SharedTypes.MnrTextTraceListener, SharedTypes"
            initializeData="mnr-trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>